/* だいたい共通 */
#page_container{
    padding: 120px 0 70px;
}
#page_container a{
    text-decoration: underline;
}
.page_contents{
    margin: 50px 70px 0;
    text-align: left;
}
.page_caption{
    font-size: 1.3rem;
    margin: 30px 0 20px 0;
}
.page_caption::before{
    content: "";
    background-image: url("../image/icon_Dia.png");
    display: inline-block;
    background-size: contain;
    width: 39px;
    height: 26px;
    position: relative;
    top: 7px;
    margin-right: 5px;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* news */
#page_container dl{
    margin: 40px;
    font-size: 0.95rem;
}
#page_container dt, #page_container dd{
    padding: 5px;
    text-align: left;
}
#news_contents dt, #news_contents dd{
    line-height: 300%;
}
#news_contents dd{
    margin-left: 150px;
}
hr{
    border: 1px dotted #999;
}

/* 企業情報 */
.page_contents th, .page_contents td{
    padding: 10px 20px;
}
.page_contents th{
    background-color: #ddd;
    border-bottom: solid 1px #fff;
}

/* 参入事業 */
.page_caption_left{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.page_caption_left::after{
    content: "";
    height: 1px;
    flex-grow: 1;
    background-size: 4px 1px;
    background-image: linear-gradient(to right, #777, #777 2px, transparent 2px, transparent 4px);
    background-repeat: repeat-x;
    margin-left: 10px;
}
.company_contents_image{
    float: right;
    margin: 10px;
}
.page_contents_text{
    margin: 20px 10px;
    padding: 10px 0;
}
#company_contents-image02pc{
    padding-top: 200px;
}
.page_contents_link{
    margin-top: 10px;
    text-align: right;
}
#page_contents_linklo{
    margin-top: 40px;
}
.new_window::after{
    content: "";
    background-image: url("../image/newWin_icon.svg");
    display: inline-block;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    padding-top: 10px;
    position: relative;
    top: 5px;
}

/* 社員の声 */
.voice_contents_image-right{
    float: right;
    margin: 25px 20px;
}
.voice_contents_image-left{
    float: left;
    margin: 25px 20px;
}
.page_caption_right{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.page_caption_right::before{
    content: "";
    height: 1px;
    flex-grow: 1;
    background-size: 4px 1px;
    background-image: linear-gradient(to right, #777, #777 2px, transparent 2px, transparent 4px);
    background-repeat: repeat-x;
    margin-left: 10px;
}
.page_contents_text01, .page_contents_text02, .page_contents_text03, .page_contents_text04{
    margin: 20px 10px 40px;
    padding: 10px;
    line-height: 230%;
}
.page_contents_text01{
    background: url(../image/voice-1_sp.jpg) no-repeat rgba(255, 255, 255, 0.85) center top / cover;
    background-blend-mode: lighten;
}
.page_contents_text02{
    background: url(../image/voice-2_sp.jpg) no-repeat rgba(255, 255, 255, 0.85) center top / cover;
    background-blend-mode: lighten;
}
.page_contents_text03{
    background: url(../image/voice-3_sp.jpg) no-repeat rgba(255, 255, 255, 0.85) center top / cover;
    background-blend-mode: lighten;
}
.page_contents_text04{
    background: url(../image/voice-4_sp.jpg) no-repeat rgba(255, 255, 255, 0.85) center top / cover;
    background-blend-mode: lighten;
}

/* ケイズスピリット */
.page_caption_center{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.page_caption_center::before{
    content: "";
    height: 1px;
    flex-grow: 1;
    background-size: 4px 1px;
    background-image: linear-gradient(to right, #777, #777 2px, transparent 2px, transparent 4px);
    background-repeat: repeat-x;
    margin-left: 10px;
}
.page_caption_center::after{
    content: "";
    height: 1px;
    flex-grow: 1;
    background-size: 4px 1px;
    background-image: linear-gradient(to right, #777, #777 2px, transparent 2px, transparent 4px);
    background-repeat: repeat-x;
    margin-left: 10px;
}
.ks-spt_contents_image-right{
    float: right;
    margin: 5px 20px;
}
.ks-spt_contents_image-left{
    float: left;
    margin: 5px 20px;
}
/* ギャラリー */
.gallery_contents{
    display: flex;
    justify-content: center;
    margin: 60px 20px;
}
.gallery_contents_text{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.gallery_contents_text01{
    font-size: 1.3rem;
}
.gallery_contents_text02{
    line-height: 180%;
    margin-top: auto;
}
.gallery_contents_text02 p{
    margin: 0;
}
.text-right{
    text-align: right;
}

/* 店舗一覧 */
.shop_contents_image{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    padding: 0 0 98px 50%;
    margin: 0 50px;
}
.shop_contents_image img{
    width: auto;
    height: 294px;
}
.shop_contents_image-main{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.shop_contents_image-thumb{
    padding-top: 6px;
    margin: 6px;
    display: block;
}
.shop_contents_image-thumb img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 0 10px;
}
.shop_contents_image-selector{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.shop_contents_image-selector:checked + .shop_contents_image-main{
    opacity: 1;
}
.shop_contents_image-selector:checked ~ .shop_contents_image-thumb > img{
    box-shadow: 0 0 0 3px #023562;
}
.page_caption-comment{
    font-size: 0.9rem;
    background-color: #023562;
    color: #fff;
    display: inline-block;
    padding: 2px 10px;
    line-height: 150%;
    margin: 0 10px;
    position: relative;
    top: -3px;
}
.page_caption-icon{
    display: inline-block;
    position: relative;
    top: -3px;
    margin: 0;
}
.shop_contents_map{
    margin: 40px auto 20px;
}
.shop_contents_map iframe{
    width: 100%;
    height: 372px;
}

/* Q&A */
.q-a_q{
    background-color: #023562;
    color: #fff;
    padding: 2px 20px;
    font-family: "メイリオ", sans-serif;
    margin: 10px 0;
}
.q-a_q::before{
    content: "Q．";
}
.q-a_a{
    margin: 0 20px;
}
.q-a_a1line::before{
    content: "A．";
}

/* プライバシーポリシー */
#privacy_contents{
    line-height: 250%;
}
#privacy_contents p{
    margin: 20px 0;
}

/* サンキューページ */
#thanks_contents a{
    text-decoration: none;
}