@charset "UTF-8";

*{
	font-family: "Times New Roman","游明朝",serif;
    font-weight: 500;
}
body{
    width: 1080px;
    margin: 0 auto;
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}
h2, h5{
    margin: 0;
}

/* ヘッダー */
header, #sub-nav, #button-nav, #global-nav{
    display: flex;
    align-items: center;
}
header{
    justify-content: space-between;
    position: fixed;
    width: 1080px;
    top: 0;
    background-color: #fff;
    border-bottom: solid 1px #777;
    z-index: 999;
}
#sub-nav, #global-nav{
    justify-content: flex-end;
}
#sub-nav{
    margin: 0;
}
#sub-nav li{
    padding: 0 15px;
    font-size: 0.9rem;
}
#button-nav{
    background-color: #023562;
}
#button-nav a{
    color: #fff;
}
#button-nav li{
    border-left: solid 1px #fff;
    padding: 10px 20px;
}
#global-nav li{
    padding: 0 30px;
    font-size: 1.1rem;
    border-left: solid 1px #777;
}

/* TOPページ */
/* スライダー */
.swiper-container{
    padding-top: 100px;   
}
.swiper-button-next, .swiper-button-prev{
    padding-top: 80px;
}

/* だいたい共通 */
section{
    margin: 30px auto;
    text-align: center;
    line-height: 200%;
}
.sec_title{
    text-align: center;
    width: 20%;
    margin: auto;
    border-bottom: solid 1px #777;
    padding-bottom: 10px;
}
.sec_title h2{
    font-size: 1.8rem;
}
#company-prof, #ks-spirit{
    background-color: #ddd;
    padding: 30px 0;
}
.btn_link{
    background-color: #023562;
    padding: 5px 30px;
    display: inline-block;
    color: #fff;
    font-family: "メイリオ", sans-serif;
}
.sec_flex, #company-prof ul, #voice ul, #ks-spirit ul, #gallery ul, #shop-list, #footer_list{
    display: flex;
    justify-content: center;
}
#company-prof ul, #voice ul, #ks-spirit ul, #gallery ul, #shop-list{
    margin: 20px;
}

/* what's new */
.sec_flex{
    text-align: left;
    align-items: center;
    margin: 0 30px 20px;
}
.wn_title{
    background-color: rgba(2,53,98,0.22);
    padding: 60px 30px;
}
#whatsnew dl{
    padding-left: 20px;
    font-size: 0.95rem;
    line-height: 250%;
}
#whatsnew dt{
    font-family: "メイリオ", sans-serif;
    float: left;
}
#whatsnew dd{
    font-family: "メイリオ", sans-serif;
    margin-left: 110px;
}

/* 企業情報 */
#company-prof li{
    background-color: #fff;
    width: 23%;
    margin: 20px 30px;
    padding: 20px;
}
.cp_list_title{
    font-size: 1.1rem;
    margin-top: 0;
}
.cp_list_description{
    font-size: 0.8rem;
    margin-bottom: 0;
    text-align: left;
    align-items: flex-end;
}

/* 社員の声 */
#voice ul{
    flex-wrap: wrap;
}
#voice li{
    width: 37%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 50px 10px;
    margin: 20px;
    font-size: 1.1rem;
}
#voice_1{
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9)) ,url(../image/voice-1_sp.jpg);
}
#voice_2{
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9)) ,url(../image/voice-2_sp.jpg);
}
#voice_3{
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9)) ,url(../image/voice-3_sp.jpg);
}
#voice_4{
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9)) ,url(../image/voice-4_sp.jpg);
}

/* ケイズスピリット */
#ks-spirit li{
    width: 250px;
    height: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 30px;
    padding-top: 150px;
}
#ks-spt_1{
    background-image: url(../image/top-p_concept.png);
}
#ks-spt_2{
    background-image: url(../image/top-p_give.png);
}
#ks-spt_3{
    background-image: url(../image/top-p_return.png);
}

/* ギャラリー */
.icon_gallery{
    margin: 20px 30px;
}

/* 店舗一覧 */
#shop-list{
    padding: 40px;
}
.shop_title{
    border: solid 1px #777;
    text-align: center;
    padding: 70px;
    width: 400px;
    height: 200px;
}
#shop-list_sum{
    width: 400px;
    height: 200px;
    background-size: cover;
    background-image: url(../image/kawagoe_overall03.jpg);
    background-position: center;
}

/* フッター */
footer{
    border-top: solid 1px #777;
    padding: 20px;
}
#footer_list li{
    margin: 0 25px;
    font-size: 0.9rem;
}
.footer_sub{
    font-size: 0.75rem;
}
#footer_icon{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.instagram, .mail{
    margin: 0 8px;
}
#copylight{
    font-size: 0.8rem;
    text-align: center;
}