@charset "UTF-8";

*{
	font-family: "Times New Roman","游明朝",serif;
    font-weight: 500;
}
body{
    width: 1080px;
    margin: 0 auto;
}
h2, h5{
    margin: 0;
}

/* ヘッダー */
header, #sub-nav, #button-nav, #global-nav{
    display: flex;
    align-items: center;
}
header{
    justify-content: space-between;
    position: fixed;
    width: 1080px;
    top: 0;
    background-color: #fff;
    border-bottom: solid 1px #777;
}
#sub-nav, #global-nav{
    justify-content: flex-end;
}
#sub-nav{
    margin: 0;
}
#sub-nav li{
    padding: 0 15px;
    font-size: 0.9rem;
}
#button-nav{
    background-color: #023562;
    color: #fff;
}
#button-nav li{
    border-left: solid 1px #fff;
    padding: 10px 20px;
}
#global-nav li{
    padding: 0 30px;
    font-size: 1.1rem;
    border-left: solid 1px #777;
}

/* スライダー */
#slider{
    padding-top: 100px;
    text-align: center;
}

/* コンテンツ共通 */
section{
    margin: 30px auto;
}
.sec_title{
    text-align: center;
    width: 20%;
    margin: auto;
    border-bottom: solid 1px #777;
    padding-bottom: 10px;
}
#company-prof, #ks-spirit{
    background-color: #ddd;
    padding: 30px;
}